<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categoria</title>
    <%- include("./styleCategoria.ejs") %>
  </head>
  <body>
    <h2>Categoria</h2>
    <section class="tudo">
      <form action="/categoria-salvar" method="post">
        <fieldset>
          <legend>Cadastro da Categoria</legend>
          <label for="nome">Nome</label>
          <input type="text" name="nome" id="nome" required/>
          <div class="categorias">
            <div class="campPersonalizado">
              <div>
                <label for="personalizado">Campo Personalizado</label>
                <input type="text" id="personalizado" />
              </div>
              <a onclick="salvar()"><i class="fa-solid fa-floppy-disk"></i> Salvar</a>
              <input type="hidden" name="personalizado" class="personalizado" value="">
            </div>
            <textarea name="cat-personalizado" id="catP" disabled></textarea>
          </div>
          <button type="submit"><i class="fa-solid fa-plus"></i> Cadastrar Categoria</button>
        </fieldset>
      </form>
      <% if(categoria.length>0){ %>
      <table>
        <thead>
          <tr>
            <th class="id">Chave</th>
            <th>Valor</th>
            <th>Campos Personalizados</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i <categoria.length; i++) {%> 
            <tr>
              <td class="id"><%= categoria[i].id %></td>
              <td><%= categoria[i].nome %></td>
              <td><%= categoria[i].personalizado %></td>
              <td><a class="excluir" id="<%= categoria[i].id %>" ><i class="fa-solid fa-trash-can"></i> Excluir</a></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <%}else{%>
      <p class="alerta">
        <i class="fa-solid fa-triangle-exclamation"></i> Não há categorias
        cadastradas <i class="fa-solid fa-triangle-exclamation"></i>
      </p>
      <%}%>
    </section>
    <a href="/" class="voltar"><i class="fa-solid fa-angle-left"></i> Index</a>

    <script
      src="https://kit.fontawesome.com/09c2a18d79.js"
      crossorigin="anonymous"
    ></script>
    <%- include("./sweetAlert.ejs") %>
    <script>
      let personal = [];
      const salvar = ()=>{
        let valorPersonalizado = document.querySelector('#personalizado');
        let insertPersonalizado = document.querySelector('.personalizado');
        if ((valorPersonalizado.value).length > 0) {
          let textArea = document.querySelector('#catP');
          textArea.value += '- '+ valorPersonalizado.value + '\n';
          personal.push(valorPersonalizado.value);
          valorPersonalizado.value = '';
          insertPersonalizado.value = personal;
        }
      };
    </script>
  </body>
</html>
